/*
Project Name: Relaxr
Client: GA
Author: Sasha Ward
Developer @GA in London
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
	color: #000;
	font-size: 12px;
	font-family: 'Open sans'sans-serif;
	color: #606161;
}

h1 {
	font-size: 48px;
	font-family: 'open sans';
	font-weight: 800;
	color: #fff;
	margin-left: 120px;
	margin-top: 20px;
}

h2 {
	font-size: 40px;
	font-family: 'open sans';
	font-weight: 600;
	text-align: center;
	color: #fff;
	margin-top: 120px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 0px;

}

button {
	border-radius: 5px;
	font-weight: 800;
	padding: 12px 0;
	width: 200px;
	font-size: 28px;
	text-align: center;
	margin-left: 550px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #f9e42e;
	border: solid #f9e42e;
}

button:hover {
	background-color: #fbee81;
	opacity: 90;
}


.intro {
	display: block;
	padding: 100px;
	margin-left: 200px;
}


.testimonial {
	display: block;
	padding: 200px;
	background-image: url(../images/testimonial_bg.jpg);
}

blockquote {
  font-size: 30px;
	font-family: 'open sans';
	font-weight: 300;
	color: #fff;
  font-style: italic;
  text-align: center;
  width: 580px;
  margin: auto;
}

span {
	font-size: 30px;
	font-family: 'open sans';
	font-style: bold;
	font-weight: 600;
}

aside {
  background: #f9e42e;
  padding: 30px;
  text-align: center
}


h3 {
	font-size: 40px;
	font-family: 'open sans';
	font-weight: 600;
	text-align: left;
}

h4 {
	font-size: 24px;
	font-family: 'open sans';
	font-weight: add;
	text-align: center;
}

p {
	font-size: 18px;
	font-family: 'open sans';
	font-weight: 600;;
	text-align: left;
	margin-top: 10px;
	margin-right: 400px;
	line-height: 26px;
}

ul {
	font-size: 18px;
	font-family: 'open sans';
	margin-top: 20px;
}

li {
	line-height: 40px;
}


header {
  height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
  padding-top: 32px;
}

.hero {
	margin: auto;
	padding: 960;
}


footer {
	background-color: #121212;
	height: 200px;
}

h4 {
	font-size: 24px;
	font-family: 'open sans';
}

footer ul li {
  display: inline-block;
  list-style: none;
	margin-left: 400px;

}

.small-print {
	font-size: 16px;
	font-family: 'open sans';
	text-align: center;
}
